/* fonts */
@font-face {
    font-family: 'pluto_regularregular';
    src: url('../fonts/pluto_regular-webfont.woff2') format('woff2'),
         url('../fonts/pluto_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'plutomedium_italic';
    src: url('../fonts/hvd_fonts_-_plutomedium-italic-webfont.woff2') format('woff2'),
         url('../fonts/hvd_fonts_-_plutomedium-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'plutolight_italic';
    src: url('../fonts/hvd_fonts_-_plutolight-italic-webfont.woff2') format('woff2'),
         url('../fonts/hvd_fonts_-_plutolight-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* variables */
:root 
{
    --p-colors: rgb(0,0,0);
    --blue-boxmill: rgb(0,159,227);
    --montserrat: 'Montserrat', sans-serif;
    --pluto-italic: 'plutolight_italic';
    --pluto-medium: 'plutomedium_italic';
    --pluto-regular: 'pluto_regularregular';
}

/* clases */

.isWhite
{
	width: calc(100% - 100px);
	color: white;
	float: left;
	margin: 0px 50px 50px 50px;
}

.bgGray
{
	background: #333;
}

.fondoAbout
{
	background-color:#333;
	background-image: url("../assets/ciudad.png"), url("../assets/dots-about.png");
	background-repeat: no-repeat;
	background-position: 0 bottom, right bottom;
}

.fondoFunds
{
	background-color:#333;
	background-image: url("../assets/dots-funds.png");
	background-repeat: no-repeat;
	background-position: 0 bottom;
}

.fondoGrey
{
	background-color:#333;
}

.fondoBlue 
{
	background: var(--blue-boxmill);
}

.separata
{
	width: calc(100% - 100px);
	float: left;
	height: 1px;
	background: black;
	margin: 10px 50px 50px 50px;
}

.forzarTop
{
	margin-top: 140px !important;
}

.contenedor
{
	width:100%;
	margin: 0;
}

.container{
	max-width: 1150px;
	margin: auto;
	padding: 0 20px;
}

/* styles */

html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
	color: var(--p-colors);
	font-family: var(--montserrat);
	font-size: 18px;
	line-height: 30px;
}

header
{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	z-index: 10;
	border-bottom: 1px solid #ccc;
}

header h1
{
	width: calc(100% - 50px);
	text-align: right;
	letter-spacing: .5;
	font-size: 22px;
	margin: 20px 50px 0 0;
	color: var(--blue-boxmill);
	font-family: var(--pluto-italic);
}

header .logo {
	width: 66px;
	height: 99px;
	margin: 20px 0 20px 50px;
	float: left;
}

header .logo img 
{
	width: 100%;
	height: auto;
}

header nav
{
	float: right;
	margin: 40px 50px 0 0;
}

header nav ul
{
	margin: 0;
	padding: 0;
}

header nav ul li
{
	list-style: none;
	float: left;
	margin: 0 0 0 25px;
	font-size: 16px;
	text-align: center;
}

header nav ul li a
{
	color: black;
	text-decoration: none;
}

header nav ul li a:hover
{
	font-weight: 700;
	border-bottom: 3px solid var(--blue-boxmill);
}

.slider
{
	width:100%;
	height: 530px;
	float: left;
	background: black;
}

p
{
	float: left;
	margin: 20px 50px 20px 50px;
}

.cualidad
{
	width: calc(33.33% - 100px);
	height: auto;
	float: left;
	margin: 0 50px 50px 50px;
}

.cualidad .icon
{
	background: #f1f1f1;
	width: calc(120px - 40px);
	height: calc(120px - 40px);
	border-radius: 10px;
	margin: 0 auto;
	padding: 20px;
	-webkit-box-shadow: 0px 8px 25px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 8px 25px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 8px 25px 0px rgba(0,0,0,0.3);
}

.cualidad .icon img
{
	width: 100%;
	height: auto;
}

.cualidad h3 
{
	width: 100%;
	text-align: center;
	float: left;
	margin-top: 50px;
}

.cualidad p
{
	width: 100%;
	float: left;
	text-align: center;
	margin: 0;
}

/* about */

.contenedor .header
{
	width: calc(40% - 100px);
	height: auto;
	float: left;
	margin: 0 50px 50px 50px;
}

.contenedor .header h1
{
	font-family: var(--pluto-italic);
	color: var(--blue-boxmill);
	padding-bottom: 5px;
	border-bottom: 3px solid var(--blue-boxmill);
	float: left;
	font-size: 36px;
	margin: 50px 50px 20px 0px;
}

.contenedor .info
{
	width: calc(60% - 50px);
	height: auto;
	float: right;
	margin: 10px 50px 50px 0px;
	color: white;
}

.contenedor .grid-projects
{
	width: calc(100% - 80px);
	height: auto;
	float: left;
	margin: 50px 40px 50px 40px;
}

.contenedor .grid-projects .project
{
	width: calc(33.33% - 20px);
	height: auto;
	float: left;
	margin: 0 10px 20px 10px;
	cursor: pointer;
}

.contenedor .grid-projects .project img
{
	width: 100%;
	height: auto;
}

.contenedor .grid-projects .project .caption
{
	width: calc(100% - 10px);
	background: var(--blue-boxmill);
	padding: 10px 10px 10px 0;
	color: white;
	text-align: right;
}

.contenedor .slide_frases
{
	width: 55%;
	height: auto;
	background: white;
	float: right;
	margin: 0px 50px 50px 0;
}

.contenedor .slide_frases h1
{
	width: calc(100% - 30px);
	font-size: 36px;
	text-align: right;
	color: var(--p-colors);
	margin: 30px 30px 20px 0;
	font-family: var(--pluto-italic);
	line-height: 40px;
}

.contenedor .slide_frases p
{
	font-size: 24px;
	text-align: center;
	color: var(--blue-boxmill);
	margin: 0 30px 30px 0;
	float: right;
}

.contenedor .funds 
{
	width: calc(100% - 100px);
	height: auto;
	float: left;
	margin: 50px;
}

.contenedor .funds .icon
{
	width: 150px;
	height: auto;
	float: left;
	margin: 0;
}

.contenedor .funds .icon img
{
	width: 100%;
	height: auto;
}

.contenedor .funds h3
{
	color: var(--blue-boxmill);
	width: calc(100% - 170px);
	float: left;
	margin: 0 0 10px 20px;
}

.contenedor .funds p
{
	width: calc(100% - 170px);
	float: left;
	margin: 0 0 20px 20px;
}

.contenedor .funds a, .contenedor a
{
	float: right;
	padding: 5px 20px 5px 20px;
	background: rgba(0,0,0,.9);
	color: var(--blue-boxmill);
	border-radius: 5px;
	font-size: 16px;
	margin: 10px 0 0 20px;
	text-decoration: none;
	transition: all .4s;
	border:2px solid black;
}

.contenedor .funds a:hover, .contenedor a:hover
{
	border:2px solid var(--blue-boxmill);
	background: rgba(0,0,0,0);
}

.contenedor .grid-partners
{
	width: 100%;
	float: left;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
}

.contenedor .grid-partners .partner
{
	width: 17%;
	height: 100px;
	border: 2px solid var(--blue-boxmill);
	margin: 10px;
}

.contenedor .item-news
{
	width: calc(33.33% - 32px);
	height: 300px;
	float: left;
	border:1px solid var(--blue-boxmill);
	background: #333;
	margin: 0 30px 0 0;
}

footer
{
	width: 100%;
	height: auto;
	float: left;
	background: black;
	color: var(--blue-boxmill);
	padding: 30px 0 30px 0;
}

footer ul
{
	margin: 10px auto;
}

footer p
{
	font-size: 12px;
	text-align: center;
	line-height: 22px;
	color: var(--blue-boxmill);
}