footer{
	.content-footer1{
		padding:20px 0 16px 0;
		background:#161514;
		.btn-footer1{
			display:inline-block;
			width:55px;
			height:55px;
			margin-right:20px;
			&.btn-tel{
				background: url(../img/icon-footer-tel.png);
			}
			&.btn-mail{
				background: url(../img/icon-footer-mail.png);
			}
		}	
	}
	.content-footer2{
		background:#000;
		color:#fff;
		font-size:13px;
		border-top:1px solid #3d3c3a;
		padding:30px 0;
		h4{
			border-bottom:1px solid;
			padding-bottom:8px;
			margin-bottom:15px;
		}
		a{
			color:#ad8318;
		}
	}
}