header{
	padding:10px 60px 0;
	background:#000;
	color:#fff;
	.info-header{
		margin-top:40px;
		li{
			display:inline-block;
			padding:20px 12px;
			border-left:1px solid #fff;
			height:57px;
			vertical-align:top;
			box-sizing:border-box;
			span.tel{
				display:inline-block;
				padding-left:20px;
				background: url(../img/icon_phone.png) left no-repeat;
				font-size:12px;
				line-height:21px;
			}
			a{
				font-size:12px;
				color:#fff;
				&.social{
					width:19px;
					height:19px;
					display:block;
					background: url(../img/social.png);
					&.in{
						background-position:bottom;
					}
				}
			}
		}
	}
	@media screen and (max-width:1023px){
		padding:10px 20px 0;
		.logo{
			width:150px;
			margin-top:10px;
		}
		.info-header{
			li{
				padding:10px;
			}
		}
	}
	@media screen and (max-width:767px){
		padding-bottom:10px;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		box-sizing:border-box;
		z-index:100;
		.info-header{
			display:none;
		}
		.logo{
			width:120px;
		}
		.btn-menu{
			background: url(../img/menu.svg);
			width:30px;
			height:30px;
			background-size:100% 100%;
			margin-top:20px;
			&.open-nav{
				background-image: url(../img/close.svg);
			}
		}
	}
}

.content-nav{
	height:60px;
	.main-nav{
		position:relative;
		height:60px;
		background:#000;
		top:0;
		width:100%;
		left:0;
		z-index:10;
		ul{
			padding-top:20px;
		}
		li{
			display:inline-block;
			margin-right:25px;
			a{
				color:#fff;
				font-size:12px;
			}
		}
	}
	@media screen and (max-width:767px){
		height:0;
		.main-nav{
			position:fixed !important;
			top:83px;
			right:0;
			width:200px;
			left:auto;
			z-index:100;
			padding:0;
			height:auto;
			display:none;
			li{
				display:block;
				line-height:40px;
			}
		}
	}
}