.clearfix{
	&:after{
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;  
	}
	* html &{
		 zoom: 1;
	}
	*:first-child+html &{
		zoom: 1;
	}
}

.left{
	float: left;
}
.right{
	float: right;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.img-full{
	width: 100%;
}
.img-responsive{
	display: inline-block;
	width: auto;
	max-width: 100%;
}
.container{
	max-width: 1170px;
	margin: auto;
	padding: 0 20px;
}

.container2{
	max-width: 920px;
	margin: auto;
	padding: 0 20px;
}

.v_center1{
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	.v_center2{
		display: table-cell;
		vertical-align: middle;
	}
}

.transition {
  transition: all 0.7s cubic-bezier(.18, .32, .17, .99);
  -webkit-transition: all 0.7s cubic-bezier(.18, .32, .17, .99);
}

.to_view {
  transform: translate(0, 150px);
  -webkit-transform: translate(0, 150px);
  opacity: 0;
  transition: all 0.7s cubic-bezier(.18, .32, .17, .99);
  -webkit-transition: all 0.7s cubic-bezier(.18, .32, .17, .99);
  &.visible {
	  transform: translate(0, 0);
	  -webkit-transform: translate(0, 0);
	  opacity: 1;
  }
}

body{
	background:#fff;
	font-family: 'Gotham Book';
}

.bold{
	font:{
		family: 'Gotham';
		weight:bold;
	}
}
.italic{
	font:{
		family: 'Gotham';
		weight:300;
		style:italic;
	}
}
.antonio{
	font-family: 'Antonio';
}
.top15{
	margin-top:15px;
}
.top30{
	margin-top:30px;
}

.visible-desktop{
	display:none !important;
	@media screen and (min-width:768px){
		display:block !important;
	}
}
.visible-mobile{
	display:none !important;
	@media screen and (max-width:767px){
		display:block !important;
	}
}

.slick-prev, .slick-next{
	background-color:$azul;
	position:absolute;
	width:72px;
	height:80px;
	top:50%;
	margin-top:-57px;
	background-position:center;
	background-repeat: no-repeat;
	border:none;
	font-size:0;
	z-index:3;
	cursor:pointer;
	@include transition(all 0.4s);
	&:hover{
		background-color: darken($azul, 15%);
	}
	
}

.slick-prev{
	left:0;
	background-image: url(../img/arrow-left.png);
}

.slick-next{
	right:0;
	background-image: url(../img/arrow-right.png);
}


.modal{
	position:fixed;
	z-index:1000;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	top:0;
	left:0;
	display:none;
	.content-modal{
		background:#fff;
		max-width:800px;
		padding:30px;
		box-sizing:border-box;
		margin:auto;
		border-radius:4px;
	}
	.modal-close{
		position:absolute;
		width:18px;
		height:18px;
		top:6px;
		right:6px;
		background-color:$gris;
		mask-image: url(../img/close.svg);
		-webkit-mask-image: url(../img/close.svg);
		mask-size:cover;
		-webkit-mask-size:cover;
		opacity:0.6;
		&:hover{
			opacity:1;
		}
	}
}

